<div class="people-page">
<%= div_for user, class: 'clearfix' do %>
  <%= image_tag user.avatar_url(:icon).to_s %>
  <%= link_to user.username , user %>
  <%= render_friendship_button_for user %>
<% end %>
</div>