<div class="span8"><h3>Activity</h3>
  <ul class="nav nav-tabs">
              <li class="active"><a href="#">Statuses</a></li>
              <li><a href="#">Upcoming Match</a></li>
            </ul>

<div class="status">
  <div class="row">
    <div class="span1">
      <a><img src="http://placehold.it/100x100"></a>
    </div>
    <div class="span7">
      <strong><span class="badge badge-success"><i class="icon-trophy"></i> WIN</span><a href="#">Eakkapan Zangkaew</a></strong> <a href="#">WIN Fifth in OOZOU Pool match 20</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum atque sint natus hic ratione perferendis incidunt quo perspiciatis dolor at. Similique eaque odio excepturi eveniet hic non alias ratione dignissimos.</p>
      <div class="meta">
        <p>15 minutes ago</p>
        <span class="admin">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="status">
  <div class="row">
    <div class="span1">
      <a><img src="http://placehold.it/100x100"></a>
    </div>
    <div class="span7">
      <strong> <span class="badge badge-info"><i class="icon-comments"></i> Talk</span><a href="#">Eakkapan Zangkaew</a></strong> Talk about <a href="#">OOZOU Pool match 20</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum atque sint natus hic ratione perferendis incidunt quo perspiciatis dolor at. Similique eaque odio excepturi eveniet hic non alias ratione dignissimos.</p>
      <div class="meta">
        <p>17 minutes ago</p>
        <span class="admin">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="status">
  <div class="row">
    <div class="span1">
      <a><img src="http://placehold.it/100x100"></a>
    </div>
    <div class="span7">
      <strong><span class="badge badge-info"><i class="icon-comments"></i> Talk</span><a href="#">Fifth</a></strong> Talk about <a href="#">OOZOU Pool match 20</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum atque sint natus hic ratione perferendis incidunt quo perspiciatis dolor at. Similique eaque odio excepturi eveniet hic non alias ratione dignissimos.</p>
      <div class="meta">
        <p>18 minutes ago</p>
        <span class="admin">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="status">
  <div class="row">
    <div class="span1">
      <a><img src="http://placehold.it/100x100"></a>
    </div>
    <div class="span7">
      <strong><span class="badge badge-important"><i class="icon-thumbs-up"></i> Review</span><a href="#">Eakkapan Zangkaew</a></strong> Give


        <span class="rating">
          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
        </span>



      <a href="#">OOZOU Pingpong match 12</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum atque sint natus hic ratione perferendis incidunt quo perspiciatis dolor at. Similique eaque odio excepturi eveniet hic non alias ratione dignissimos.</p>
      <div class="meta">
        <p>40 minutes ago</p>
        <span class="admin">
        </span>
      </div>
    </div>
  </div>
</div>

</div>
