<div class="leaderboard">
		<h3><i class="icon-trophy"></i> Leaderboard</h3>

			<ul class="nav nav-tabs">
              <li class="active"><a href="#">Today</a></li>
              <li><a href="#">Week</a></li>
              <li><a href="#">All</a></li>
              <li>
                <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Sports <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Pool</a></li>
                  <li><a href="#">Pingpong</a></li>
                  <li><a href="#">Winning</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
      </div>

              </li>
      </ul>

      

			<table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Picture</th>
                  <th>User</th>
                  <th>Win</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><img src="http://placehold.it/50x50"></td>
                  <td>Otto</td>
                  <td>95</td>
                </tr>
                <tr>
                	<td>2</td>
                  <td><img src="http://placehold.it/50x50"></td>
                  <td>Otto</td>
                  <td>93</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img src="http://placehold.it/50x50"></td>
                  <td>Thornton</td>
                  <td>45</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img src="http://placehold.it/50x50"></td>
                  <td>Larry</td>
                  <td>39</td>
                </tr>
              </tbody>
     		</table>

	</div>