<div class="leaderboard">
		<h3><i class="icon-trophy"></i> Leaderboard</h3>
			<ul class="nav nav-tabs">
              <li class="active"><a href="#">Today</a></li>
              <li><a href="#">Week</a></li>
              <li><a href="#">All</a></li>
              <li>
                <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Sports <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Pool</a></li>
                  <li><a href="#">Pingpong</a></li>
                  <li><a href="#">Winning</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
      </div>
              </li>
      </ul>
			<table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Picture</th>
                  <th>User</th>
                  <th>Win</th>
                </tr>
              </thead>
              <% for u in @users %>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><%= image_tag u.avatar_url(:icon).to_s %></td>
                  <td><%  for us in u.user_ranking %>
                    <%= us.result %><br />
                    <% end %>
                  </td>
                  <td><%= u.wins.length %></td>

                </tr>
              </tbody>
              <% end %>
     		</table>
	</div>