<div class="leaderboard">
		<h3><i class="icon-trophy"></i> Leaderboard</h3>


    <ul class='nav nav-tabs'>
      <li class='active'><a href='#friends-leaderboard' data-toggle='tab'>Friends</a></li>
      <li><a href='#everyone-leaderboard' data-toggle='tab'>Everyone</a></li>
      <li>
        <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Sports <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Pool</a></li>
                  <li><a href="#">Pingpong</a></li>
                  <li><a href="#">Winning</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
        </div>
      </li>
    </ul>


    <div class='tab-content'>
      <div id='friends-leaderboard' class='tab-pane active clearfix'>

      <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Picture</th>
                  <th>User</th>
                  <th>Win</th>
                </tr>
              </thead>
              <% @users.to_enum.with_index(1) do |u, i| %>
              <tbody>
                <tr>
                  <td><%= i %></td>
                  <td><%= image_tag u.avatar_url(:icon).to_s %></td>
                  <td><%= u.username %>
                  </td>
                  <td><%= u.win_counter_cache %></td>
                </tr>
              </tbody>
              <% end %>
        </table>
      </div>
      <div id='everyone-leaderboard' class='tab-pane clearfix'>
        EEEE
      </div>
    </div>
	</div>