<h3><i class="icon-check"></i> Upcoming Match : <a href="#">OOZOU Pingpong match 16</a> @Today at  5:15 PM</h3> 
	<ul class="thumbnails">
		<li><a class="thumbnail"><img src="http://placehold.it/200x200"></a>
			<strong><a href="#">Eakkapan Zangkaew</a><span class="label label-info profile-rank">Rank 1</span></strong>
		</li>
		<li><span class="badge badge-important text-vs">VS</span></li>
		<li><a class="thumbnail"><img src="http://placehold.it/200x200"></a>
			<strong><a href="#">Fifth B</a><span class="label label-info profile-rank">Rank 2</span></strong>
		</li>
	</ul>