<div class="hero-unit">
      <div class="container">
        <div class="wrapper">
          <hgroup>
            <h2>GameSoocial are</h2>
            <h3>Neighbors getting together to Play something,
Do something, Cheer up someone...</h3>
          </hgroup>
          <br /><br />
            <h2>Come out and play with your friends</h2>
    <a class="btn btn-primary btn-large" href="/users/sign_up">Sign Up For Free</a>
</div>
        </div>
      </div>
    </div>