<div class="service-pattern">
      <!--start: Container -->
        <div class="container">

        <a id="service">&nbsp;</a><!--anchorLink: service -->
          <div class="span12">
            <div class="title">
              <h3>How it work</h3>
            </div>
          </div>

          <div class="service">
            <div class="span3">
                <div class="ico-service"><i class="icon-magic"></i></div>
              <h2> <span class="firstword">Create your match</span></h2>
              <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="span3">
                <div class="ico-service"><i class="icon-group"></i></div>
              <h2> <span class="firstword">Invite your friends</h2>
              <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="span3">
                <div class="ico-service"><i class="icon-thumbs-up"></i></div>
              <h2> <span class="firstword">Have fun gaming</h2>
              <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
      </div><!-- end: container -->
    </div>

    <div class="span11">
          <div class="separator">
            <div class="thumbs-up">
              <span><i class="icon-comments"></i></span>
            </div>
          </div>
</div>