<div class="span12 highlight-conter">
<%= render 'home/match_highlight' %>
</div>

<div class="span8"><h3>Activity</h3>
	<ul class="nav nav-tabs">
              <li class="active"><a href="#">Statuses</a></li>
              <li><a href="#">Upcoming Match</a></li>
            </ul>
	<%= render 'home/activity' %>
</div>
<div class="span3">
	<div class="profile">
                <div class="thumbnail">
                  <a><img src="http://placehold.it/100x100"></a>
                  <div class="caption box-profile">
                  	<ul>
                  		<li><a href="#">Eakkapan Zangkaew</a></li>
                  		<li><a href="#">25 Match from 5 Sports</a></li>
                  		<li><a href="#">95 Win</a></li>
                  		<li><a href="#">Rank 1 from friends</a></li>
                  	</ul>
                    
                  </div>
                </div>

	</div>
	
	<%= render 'home/leaderboard' %>

</div>


