@import "compass/reset"
@import "bootstrap"
@import "bootstrap-responsive"
@import "font-awesome"

body
	padding-top: 60px
	background: url('bg_noise.gif')

.pagination-centered
	text-align:center

.box-profile

.status
	border-bottom: solid 1px #ccc
	padding: 5px 0

	&:hover
		background: #FAFAFA


.badge
	margin-right: 4px

.highlight-conter
	text-align: center

.profile-rank
	margin-left: 4px

.rating
	direction: rtl
	font-size: 20px
	unicode-bidi: bidi-override

	span.star
		&:before
			color: #999999
			content: "\2605"
			padding-right: 5px

		&:hover:before
			color: #E3CF7A
			content: "\2605"

.text-vs
	font-size: 20px
	padding: 10px 20px

.footer
	background-color: #F5F5F5
	border-top: 1px solid #E5E5E5
	margin-top: 70px
	padding: 30px 0
	text-align: center

div.people-page
	.user
		border-bottom: 1px solid #FFF
		padding: 10px 5px

.ico-service
	font-size: 70px

.separator
	background: url("line-gray.gif") no-repeat scroll center center transparent
	text-align: center


.thumbs-up
	background: url("bg_noise.gif") repeat scroll 0 0 transparent
	display: block
	font-size: 21px
	margin: 0 auto
	padding: 0 5px
	text-align: center
	width: 80px

.soft-updates
	p
		color: #333333
		font-size: 15px
		line-height: 1.333
		padding-bottom: 0
		padding-right: 0
	.date-img
		background: url("date_img.png") repeat scroll 0 0 transparent
		float: left
		height: 67px
		margin-right: 25px
		width: 61px

		.top-date
			color: #EFF7AD
			font-size: 12px
			font-weight: bold
			height: 24px
			line-height: 2.1

		.bottom-date
			color: #FFFFFF
			font-size: 26px
			font-weight: bold
			height: 36px
			line-height: 1.19
		span
			display: block
			text-align: center

blockquote
	&.greyb
		small
			color: #3C92CD
			font-size: 13px

.mini-wrapper
	.span1
		margin-left: 0px
		padding-right: 10px

div.hero-unit
	-moz-box-sizing: border-box
	background-image: url("hero.jpg")
	background-position: 30% center
	background-repeat: no-repeat
	background-size: cover
	border-radius: 0 0 0 0
	box-shadow: 0 10px 10px -10px #000000 inset
	color: #FFFFFF
	height: 300px
	margin-bottom: 0
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8)